{% extends "base_evidence.html" %}

{% block hypothesis %}
	<h1 class="grid_2">h:</h1>
	<h2 class="grid_7">&nbsp</h2>
	<div id="actionbox" class="grid_4 omega">
		<a id="bigplus" class="grid_1 alpha" href="{{h.get_absolute_url}}add_evidence"><img src="{{urlbase}}static/bigplus.gif"></a>
		<p id="actiontext" class="grid_3 omega"><span>Add evidence<br /> for or against</span></p>
	</div>
	<div class="clear"></div>
	<div class="grid_2">&nbsp</div>
	<h2 class="grid_10">{{h}}</h2>
	<div class="clear"></div>
{%endblock%}

{% block evidence %}
	
	{% load voting_tags %}

	<h3 class="grid_3">evidence</h3>
	<div class="clear"></div>
	{% vote_by_user user on e as vote %}
    {% score_for_object e as score %}
<div class="grid_2 voteblock">
		
	  <a href="" onclick="vote('{{e.id}}','{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}');" name="evidence_{{e.id}}">
	  	<img id="upgif_{{e.id}}" src="{{ urlbase }}static/{% if vote and vote.is_upvote %}novote_up{% else %}vote_up{% endif %}.gif">
	  </a>
	  	
		<p class="votescore" id="e_score{{e.id}}">{{score.score}}</p>
	  
	  <a href="" onclick="vote('{{e.id}}','{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}');">
	  	<img id="downgif_{{e.id}}" src="{{ urlbase }}static/{% if vote and vote.is_downvote %}novote_down{% else %}vote_down{% endif %}.gif">
	  </a>
	 
	</div>
		<div class="evidenceitem grid_10">

			{% if e.for_hypothesis %}
				<div class="evidencebox_for">
					<p class="forcontent_topline_left grid_5 alpha omega">For: {{e.evidence_type}}, {{e.originator_name}}</p>
					<p class="forcontent_topline_right grid_5 omega alpha">Added by {{e.introducer}}</p>
					<p class="forcontent_description">{{e.get_top_description}}</p>
					<p class="forcontent_linkline"><a href="{{e.url}}">{{e.url}}</a></p>
				</div>
			{% else %}
				<div class="evidencebox_against">
					<p class="againstcontent_topline_left grid_5 alpha omega">Against: {{e.evidence_type}}, {{e.originator_name}}</p>
					<p class="againstcontent_topline_right grid_5 omega alpha">Added by {{e.introducer}}</p>
					<p class="againstcontent_description">
						{% if e.get_top_description %}
							{{e.get_top_description}}
						{% else %}
							This evidence has not been described. Please <a href="{{e.get_absolute_url}}add_description">add one</a>
						{% endif %}
					</p>
					<p class="againstcontent_linkline"><a href="{{e.url}}">{{e.url}}</a></p>
				</div>
			{% endif %}
			<p class="leftitemfooter grid_5 alpha"><a href="{{e.get_absolute_url}}flag">Flag</a></p>
			<p class="rightitemfooter grid_5 omega"><a href="{{e.get_absolute_url}}">&nbsp</a></p>
			
		</div>	
		<div class="clear"></div>	
	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fb69fc26ae9b252"></script>
<!-- AddThis Button END -->

{% endblock %}

{% block comments %}
 	<div id="disqus_thread" class="grid_12" style="padding-top:20px">
		<script type="text/javascript">
    		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    		var disqus_developer = 1; // developer mode is on
    		var disqus_shortname = 'hypothify-test'; // required: replace example with your forum shortname
			var disqus_url = '{{e.get_absolute_url}}';
			var disqus_identifier = '{{e.get_disqus_id}}';
			var disqus_title = '{{e.url}}';
    		/* * * DON'T EDIT BELOW THIS LINE * * */
    		(function() {
        		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       			 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">hypothify comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		<div class="grid_4">&nbsp</div>
		<div class="clear"></div>
{% endblock %}