{% extends "base_evidence.html" %}

{% block header_extra %}
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
 <script type="text/javascript" src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
 <script>
 	{% include "ajax_voting.js" %}

 	function vote(e_id, direction) {
 		$.post('/evidence/'+e_id+'/'+direction+'vote/',
           function(data) {
               if (data.success == true) {
                   $('#e_score'+e_id).text(data.score.score);
                   location.reload();
               } else {
                   alert('ERROR: ' + data.error_message);
               }
           }, 'json'
          )
	}

</script>
{% endblock %}

{% block title%}{{block.super}} evidence {{e.lcfor}} {{h}}{% endblock %}

{% block hypothesis %}
	<h1 class="grid_16">Evidence: <a href="{{e.url}}">{{e}}</a></h1>
	{% include "addthis_small.html" %}
	<h2 class="grid_16">{{e.lcfor}} hypothesis: <a href="{{h.get_absolute_url}}">{{h}}</a></h2>
	<div class="clear"></div>

	
{% endblock %}

{% block evidence %}
	
	{% load voting_tags %}

	{% vote_by_user user on e as vote %}
    {% score_for_object e as score %}

		<div id="evidencecontent" class="grid_10">

			<p class="{{e.lcfor}}content_topline_left grid_5 alpha omega">For: {{e.evidence_type}}, {{e.originator_name}}</p>
			<p class="{{e.lcfor}}content_topline_right grid_5 omega alpha">Added by <a href="{{e.introducer.get_absolute_url}}">{{e.introducer}}</a></p>
			<p class="{{e.lcfor}}content_description">{% if e.get_top_description %}{{e.get_top_description}}{% else %}This evidence has not been described. Please <a href="{{e.get_absolute_url}}add_description">add one</a>{% endif %}</p>
			<p class="{{e.lcfor}}content_linkline"><a href="{{e.url}}">{{e.url}}</a></p>
				
			
			<p class="leftitemfooter grid_5 alpha"><a href="{{e.get_absolute_url}}flag">Flag</a></p>
			<p class="rightitemfooter grid_5 omega"><a href="{{e.get_absolute_url}}">&nbsp</a></p>
			
		</div>	
		<div class="grid_1 voteblock">
		
	  <a href="" onclick="vote('{{e.id}}','{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}');" name="evidence_{{e.id}}">
	  	<img width="58px" id="upgif_{{e.id}}" src="{{ urlbase }}static/{% if vote and vote.is_upvote %}novote_up{% else %}vote_up{% endif %}.gif">
	  </a>
	  	
		<p class="votescore" id="e_score{{e.id}}">{{score.score}}</p>
	  
	  <a href="" onclick="vote('{{e.id}}','{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}');">
	  	<img width="58px" id="downgif_{{e.id}}" src="{{ urlbase }}static/{% if vote and vote.is_downvote %}novote_down{% else %}vote_down{% endif %}.gif">
	  </a>
	 
	</div>
		<div class="clear"></div>	


{% endblock %}

{% block comments %}
 	<div id="disqus_thread" class="grid_11" style="padding-top:20px">
		<script type="text/javascript">
    		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    		var disqus_developer = 1; // developer mode is on
    		var disqus_shortname = 'hypothify-test'; // required: replace example with your forum shortname
			var disqus_url = '{{e.get_absolute_url}}';
			var disqus_identifier = '{{e.get_disqus_id}}';
			var disqus_title = '{{e.url}}';
    		/* * * DON'T EDIT BELOW THIS LINE * * */
    		(function() {
        		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       			 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">hypothify comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		<div class="grid_4">&nbsp</div>
		<div class="clear"></div>
{% endblock %}

{% block footer%}
{{block.super}}
{% include "disquscommentcounter.html"%}
{% endblock%}
