{% extends "base.html" %}

{% block header_extra %}
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
 <script type="text/javascript" src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
 <script>
 $(function(){
  // if current viewport height is at least 70% of the previous
  if ($(document.body).height()>$.cookie('h2')*0.7)
    // retain previous scroll
    $('html,body').scrollTop($.cookie('h1'));
});
$(window).unload(function(){
  // store current scroll
  $.cookie('h1', $(window).scrollTop());
  // store current viewport height
  $.cookie('h2', $(document.body).height());
});
 
 	$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

 	function vote(e_id, direction) {
 		$.post('/evidence/'+e_id+'/'+direction+'vote/',
           function(data) {
               if (data.success == true) {
                   $('#e_score'+e_id).text(data.score.score);
                   location.reload();
               } else {
                   alert('ERROR: ' + data.error_message);
               }
           }, 'json'
          )
}

</script>
{% endblock %}

{% block title%}{{block.super}}: {% endblock %}

{% block pagecontent %}
	
	{% block hypothesis %}
	{% endblock %}
	
	<div class="grid_11" id="leftcolumn">
		{% block evidence%}
		{% endblock %}

		{% block share%}
		{% endblock%}
		
		{% block comments %}
		{% endblock %}

	</div>
	
	<div class="grid_5" id="rightcolumn">
		{% block rightcolumn%}

		{% endblock%}	
	</div>

	
	
{% endblock %}




