<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<html lang="en">
	<head>
		<title>{% block title %}hypothify{% endblock %}</title>
		{% include 'stylesheets.html' %}
		{% block extra_stylesheets %}{% endblock %}
		{% block header_extra %}{% endblock %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">

		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fb8f977245af1d2"></script>
		<script type="text/javascript">var addthis_config = {ui_header_background:"#333",ui_cobrand:"hypothify",data_track_clickback:true};</script>
	</head>

	<body>
		
			<div id="topbar">
				<div class="container_16">
					<a class="grid_12 omega" href="http://www.hypothify.com"><b>hypothify</b></a>
					<p id="accounts_topline" class="grid_4 alpha right">
						{% if user.is_anonymous %}
							<a href="{{urlbase}}accounts/login/">login</a> | <a href="{{urlbase}}accounts/register/">sign up</a>
						{% else %}
							logged in as <a href="{{user.get_absolute_url}}" class="boldlink">{{user}}</a> | <a href="{{urlbase}}accounts/logout/">logout</a>
						{% endif %}
					</p>
				</div>
			</div>
			<div class="container_16" id="pagebody">
			<div class="clear"></div>
			
			{% block pagecontent %}
			{% endblock %}
		

			
			
			{% block footer %}
				<div class="grid_4">&nbsp</div>
				<h4 class="grid_10">Hypothify footer goes here</h4>
			{% endblock %}			
		</div>
	</body>

</html>
