{% extends "base_hypothesis.html" %}

{% block title%}{{block.super}} {{h}}{% endblock %}


{% block hypothesis %}
	<h1 class="grid_2">h:</h1>
	<h2 class="grid_10">{{h}}</h2>
	<div id="actionbox" class="grid_4 omega">
		<a id="bigplus" class="grid_1 alpha" href="{{h.get_absolute_url}}add_evidence"><img src="{{urlbase}}static/bigplus.gif"></a>
		<p id="actiontext" class="grid_3 omega"><span>Add evidence<br /> for or against</span></p>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block summary %}
	{% if h_top_summ %}
	<h3 class="grid_3">summary</h3>
	<div class="clear"></div>		

	<div class="grid_2 voteblock">
			<a href=""><img src="{{urlbase}}static/vote_up.gif"></a>
			<p class="votescore">{{h_top_summ.get_votescore}}</p>
			<a href=""><img src="{{urlbase}}static/vote_down.gif"></a>
	</div>
	<div id="summarycontent" class="grid_10">
		<div id="summarybox">
			<p class="itemcontent_topline">Top summary: by <a href="{{h_top_summ.originator}}">{{h_top_summ.originator}}</a></p>
			<p class="itemconten_description">{{h_top_summ}}</p>
		</div>
		<p class="leftitemfooter grid_5 alpha"><a href="see others">See others</a> | <a href="newone">Write a new one</a> | <a href="flag">Flag</a></p>
		<p class="rightitemfooter grid_5 omega"><a href="comments">Comments (3)</a></p>	
	</div>
	<div class="clear"></div>
	{% else %}
	<p class="grid_12" style="text-align:center">No summary exists for this hypothesis</p>
	{% endif %}
{% endblock %}
	
{% block evidence%}
	<h3 class="grid_3">evidence</h3>
	<div class="clear"></div>
	
	{% for e in h_eset %}
		<div class="grid_2 voteblock">
			<a href=""><img src="{{urlbase}}static/vote_up.gif"></a>
			<p class="votescore">{{e.get_votescore}}</p>
			<a href=""><img src="{{urlbase}}static/vote_down.gif"></a>
		</div>		
		<div class="evidenceitem grid_10">
			{% if e.for_hypothesis %}
				<div class="evidencebox_for">
					<p class="forcontent_topline_left grid_5 alpha omega">For: {{e.evidence_type}}, {{e.originator_name}}</p>
					<p class="forcontent_topline_right grid_5 omega alpha">Added by {{e.introducer}}</p>
					<p class="forcontent_description">{{e.get_top_description}}</p>
					<p class="forcontent_linkline"><a href="{{e.url}}">{{e.url}}</a></p>
				</div>
			{% else %}
				<div class="evidencebox_against">
					<p class="againstcontent_topline_left grid_5 alpha omega">Against: {{e.evidence_type}}, {{e.originator_name}}</p>
					<p class="againstcontent_topline_right grid_5 omega alpha">Added by {{e.introducer}}</p>
					<p class="againstcontent_description">
						{% if e.get_top_description %}
							{{e.get_top_description}}
						{% else %}
							This evidence has not been described. Please <a href="{{e.get_absolute_url}}/add_description">add one</a>
						{% endif %}
					</p>
					<p class="againstcontent_linkline"><a href="{{e.url}}">{{e.url}}</a></p>
				</div>
			{% endif %}
			<p class="leftitemfooter grid_5 alpha"><a href="see others">View details</a> | <a href="flag">Flag</a></p>
			<p class="rightitemfooter grid_5 omega"><a href="comments">Comments (4)</a></p>
		</div>	
		<div class="clear"></div>	
	{% endfor %}
{% endblock %}	

{% block comments %}
	<div id="disqus_thread" class="grid_12" style="padding-top:20px">
		<script type="text/javascript">
    		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    		var disqus_developer = 1; // developer mode is on
    		var disqus_shortname = 'hypothify-test'; // required: replace example with your forum shortname
			var disqus_url = '{{h.get_absolute_url}}';
			var disqus_identifier = '{{h.get_disqus_id}}';
			var disqus_title = '{{h}}';
    		/* * * DON'T EDIT BELOW THIS LINE * * */
    		(function() {
        		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       			 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">hypothify comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		<div class="grid_4">&nbsp</div>
		<div class="clear"></div>
{% endblock %}

